<body class="container"> 
<% @articles.each do |article| %>
  <div class="article-index">
    <h2><%= link_to "#{article.title}", article_path(article) %></h2>
    <p class="article-description"><%= article.text %></p>
    <span class="article-read-more"><%= link_to "Read More", article_path(article) %></span>
  </div>
<% end %>
</body>
</html>
