/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.top-menu {
	padding-left: 20px;
	font-family: "Helvetica Neue";
	font-size: 24px;
	color: white;
	background-color: #284AB9;
	margin-bottom: 1em;
}

.top-menu p {
	margin: unset;
	padding: 0.3em;
}

.top-menu a {
	color: white;
}

.top-menu a:visited {
	text-decoration: none;
	color: white;
}

.main-container {
	width: 60%;
	text-align: center;
	margin: auto;
}

.footer {
	text-align: center;
	margin: 2em;
}

body {
	margin: unset;
}

h2 {
  color: #364e96;/*文字色*/
  margin: unset;
}


p {
	color: #707070;
	white-space: pre-wrap;
}

span {
	color: #707070;
	white-space: pre-wrap;
}