a {
  text-decoration: none;
  color: #364e96;
}

ul li {
  display: inline;
  padding: 0.2em
}

.m1 {
  margin-right: 0.5em;
}

.pagination {
  text-align: right;
}

@media screen and (max-width:420px){
  .article-index {
    background-color: #F7F7F7;
    margin-bottom: 2em;
    padding-bottom: 2em;
  }
}

@media screen and (min-width:421px){
  .article-index {
    background-color: #F7F7F7;
    margin-bottom: 3em;
    padding-bottom: 2em;
  }
}

@media screen and (max-width:420px){
  .article-info {
    text-align: left;
    padding: 1em;
  }
}

@media screen and (min-width:421px){
  .article-info {
    text-align: left;
    padding: 2em;
  }
}

.article-detail h2 {
  padding: 0.5em 0 1em 0;
}

.article-detail h4 {
  margin-top: 3em;
  margin-bottom: 1em;
}

.article-description {
	margin-bottom: unset;
}

.article-read-more {
  padding: 0.6em;
  text-align: center;
  border: thin  solid #909090;
  display: block;
  margin: 0 30% 0 30%;
}

.article-read-more a {
  text-decoration: none;
  color: black;
}

.article-detail {
  text-align: left;
  margin-bottom: 2em;
}

.article-edit {
  text-align: left;
}

.form-title {
  font-size: 24px;
}

.input {
  margin-top: 0.5em;
  width: -webkit-fill-available;
  height: 30px;
  font-size: 16px;
  border: none;
  outline: 0;
  border-bottom: 1px solid #d1d5db;
}

.underline {
  width: -webkit-fill-available;
  height: 2px;
  background: skyBlue;
  transform-origin: center center;
  transform: scaleX(0);
  transition: transform 0.18s ease-out;
}

.input:focus + .underline {
    transform: scaleX(1);
  }

.form-text {
  font-size: 24px;
}

.form-text-area {
  margin-top: 2em;
}

.article-submit {
    margin-top: 1.5em;
    width: 5em;
    height: 2em;
    border-radius: 2px;
    background: #364e96;
    color: #fff;
    font-size: 16px;
}

.articles-cal {
  display: block;
  font-size: small;
  text-align: right;
}

.recent-article-list {
  padding: unset;
}

.recent-article-list li {
  padding: unset;
  margin-right: 1em;
}

#article_text {
    margin-top: 0.5em;
    width: -webkit-fill-available;
    height: 25em;
    font-size: 16px;
    border: none;
    outline: 0;
    border-bottom: 1px solid #d1d5db;
    resize: none;
}

#search {
  outline:0;
  height:3em;
  padding:0 10px;
  margin-bottom: 0.8em;
  border: none;
  max-width:270px;
  border-radius:2px;
  background:#eee;
}

#search-btn {
  width:4em;
  height:2em;
  border-radius:2px;
  background:#7fbfff;
  color:#fff;
  font-weight:bold;
  font-size:16px;
  border:none;
}

#search-btn:hover{
  background:#eee;
  color:#7fbfff;
}
